
**Q1. What are the characteristics of the tuples? Is tuple immutable?**  
A) ->Tuples are immutable
     ,Tuples does not allow us to change elements in 
         particular indexes
     ,Tuples can contain duplicate elements
     ,we will be using tuples when I need no one to 
         change my data
    ,In tuples elements are indexed etc.

**Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.**   
A) Two in-built methods for Tuples in python are index()
     and count()  
     tuple1=(1,2,3,4,5,5)  
     tuple1.count(5)  
     output:2  
     count() method gives number of occurrences of an    
     element  
     tuple1.index(1)  
     output:0    
     index() method gives the first occurrence of an   
     element  
     Here we have only two built in functions because   
     These are immutable and but list is immutable so   
     We  can make many changes using it.

In [1]:
tuple1=(1,2,3,4,5,5)  
tuple1.count(5)

2

In [3]:
tuple1.index(1)

0

**Q3. Which collection data types in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.  
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]**  
A)Set collection do not allow duplicate elements  
   
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]  
set(List)  
Output:{1,2,3,4}

In [4]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

**Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.**  
A)set.update() method will add the missing elements to the called set , set.union() method returns all the elements in the original set and elements in the specified set.  
set1={1,2,3,4,5}  
set2={1,2,3,10,11}  
set1.union(set2)  
output:{1,2,3,4,5,10,11}  
set1.update(set2)  
set1  
output:{1,2,3,4,5,10,11}

In [11]:
set1={1,2,3,4,5,6}
set2={1,2,3,10,11,6}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 10, 11}

In [13]:
set1.update(set2)
set2

{1, 2, 3, 6, 10, 11}

**Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.**  
A) Dictionary is a collection of data where we store data in key and value pairs.Dictionary is ordered  
d1={"name":"Rahul","age":18}  
d1  
output:{'name': 'Rahul', 'age': 18}

In [14]:
d1={"name":"Rahul","age":18}
d1

{'name': 'Rahul', 'age': 18}

**Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.**  
Yes it is possible to create a nested dictionary  
     d2={"name":"Robert","Phone_number":{"landline":1234,"Personal":3456}}  
d2  
output:{'name': 'Robert', 'Phone_number': {'landline': 1234, 'Personal': 3456}}

In [15]:
d2={"name":"Robert","Phone_number":{"landline":1234,"Personal":3456}}
d2

{'name': 'Robert', 'Phone_number': {'landline': 1234, 'Personal': 3456}}

**Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of  
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']  
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}**

In [22]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
List2= ['Python', 'Machine Learning', 'Deep Learning']
dict1.setdefault("topics",List2)
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

**Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.  
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}**  
A) keys,values,items  
dict1.keys()  
output:dict_keys(['Sport', 'Teams'])  
dict1.values()  
output:dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])  
dict1.items()  
output:dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [18]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [19]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [20]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])